hr {
    border:none;
    border-top:1px dashed black;
    color:#fff;
    background-color:#fff;
    height: 1px;
    width: 100%; 
}

.paragrafOnErrorInput{
    color: red;
    font-weight: bold;
    margin: 0;
    padding: 0;
}